* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.box {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, rgb(7, 4, 95), rgb(35, 73, 54));
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2 {
  color: rgb(18, 73, 61);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.reihe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  margin-bottom: 25px;
}

textarea {
  flex: 1;
  resize: none;
  border: none;
  outline: none;
  background: transparent;
  padding: 0px 15px 0px 15px;
  margin-right: 10px; /* Fügt Abstand zwischen dem Eingabefeld und dem Button hinzu */
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #0e0a8b;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

button:hover {
  background: #1813a6;
}

.liste ul {
  padding-left: 0; /* Entfernt Standard-Padding des UL-Elements */
}

.liste ul li {
  list-style: none;
  font-size: 20px;
  padding: 15px 10px;
  user-select: none;
  cursor: pointer;
  background-color: #edeef0;
  margin-bottom: 10px;
  border-radius: 20px;
  position: relative; /* Ermöglicht Positionierung des Buttons absolut */
  padding-right: 70px; /* Mehr Platz für den Button */
  word-wrap: break-word; /* Text umbrechen, wenn er den Container überläuft */
  white-space: normal; /* Erlaubt Umbruch */
}

.del-btn {
  position: absolute;
  top: 10px; /* Oben positionieren */
  right: 10px; /* Rechts positionieren */
  background: #0e0a8b;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.del-btn img {
  width: 25px;
  height: auto;
}

.checked-task {
  text-decoration: line-through;
  color: gray;
}

.liste ul li input {
  margin-right: 10px;
}

.liste ul li input[type="checkbox"] {
  width: 15px;
  height: 15px;
}
